# editorconfig.org
root = true

[*]
indent_style = spaces
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
word_wrap = false
ensure_newline_at_eof_on_save = true
