@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i-asterisk:before {
  content: "\2a";
}
.i-plus:before {
  content: "\2b";
}
.i-euro:before {
  content: "\20ac";
}
.i-minus:before {
  content: "\2212";
}
.i-cloud:before {
  content: "\2601";
}
.i-envelope:before {
  content: "\2709";
}
.i-pencil:before {
  content: "\270f";
}
.i-glass:before {
  content: "\e001";
}
.i-music:before {
  content: "\e002";
}
.i-search:before {
  content: "\e003";
}
.i-heart:before {
  content: "\e005";
}
.i-star:before {
  content: "\e006";
}
.i-star-empty:before {
  content: "\e007";
}
.i-user:before {
  content: "\e008";
}
.i-film:before {
  content: "\e009";
}
.i-th-large:before {
  content: "\e010";
}
.i-th:before {
  content: "\e011";
}
.i-th-list:before {
  content: "\e012";
}
.i-ok:before {
  content: "\e013";
}
.i-remove:before {
  content: "\e014";
}
.i-zoom-in:before {
  content: "\e015";
}
.i-zoom-out:before {
  content: "\e016";
}
.i-off:before {
  content: "\e017";
}
.i-signal:before {
  content: "\e018";
}
.i-cog:before {
  content: "\e019";
}
.i-trash:before {
  content: "\e020";
}
.i-home:before {
  content: "\e021";
}
.i-file:before {
  content: "\e022";
}
.i-time:before {
  content: "\e023";
}
.i-road:before {
  content: "\e024";
}
.i-download-alt:before {
  content: "\e025";
}
.i-download:before {
  content: "\e026";
}
.i-upload:before {
  content: "\e027";
}
.i-inbox:before {
  content: "\e028";
}
.i-play-circle:before {
  content: "\e029";
}
.i-repeat:before {
  content: "\e030";
}
.i-refresh:before {
  content: "\e031";
}
.i-list-alt:before {
  content: "\e032";
}
.i-lock:before {
  content: "\e033";
}
.i-flag:before {
  content: "\e034";
}
.i-headphones:before {
  content: "\e035";
}
.i-volume-off:before {
  content: "\e036";
}
.i-volume-down:before {
  content: "\e037";
}
.i-volume-up:before {
  content: "\e038";
}
.i-qrcode:before {
  content: "\e039";
}
.i-barcode:before {
  content: "\e040";
}
.i-tag:before {
  content: "\e041";
}
.i-tags:before {
  content: "\e042";
}
.i-book:before {
  content: "\e043";
}
.i-bookmark:before {
  content: "\e044";
}
.i-print:before {
  content: "\e045";
}
.i-camera:before {
  content: "\e046";
}
.i-font:before {
  content: "\e047";
}
.i-bold:before {
  content: "\e048";
}
.i-italic:before {
  content: "\e049";
}
.i-text-height:before {
  content: "\e050";
}
.i-text-width:before {
  content: "\e051";
}
.i-align-left:before {
  content: "\e052";
}
.i-align-center:before {
  content: "\e053";
}
.i-align-right:before {
  content: "\e054";
}
.i-align-justify:before {
  content: "\e055";
}
.i-list:before {
  content: "\e056";
}
.i-indent-left:before {
  content: "\e057";
}
.i-indent-right:before {
  content: "\e058";
}
.i-facetime-video:before {
  content: "\e059";
}
.i-picture:before {
  content: "\e060";
}
.i-map-marker:before {
  content: "\e062";
}
.i-adjust:before {
  content: "\e063";
}
.i-tint:before {
  content: "\e064";
}
.i-edit:before {
  content: "\e065";
}
.i-share:before {
  content: "\e066";
}
.i-check:before {
  content: "\e067";
}
.i-move:before {
  content: "\e068";
}
.i-step-backward:before {
  content: "\e069";
}
.i-fast-backward:before {
  content: "\e070";
}
.i-backward:before {
  content: "\e071";
}
.i-play:before {
  content: "\e072";
}
.i-pause:before {
  content: "\e073";
}
.i-stop:before {
  content: "\e074";
}
.i-forward:before {
  content: "\e075";
}
.i-fast-forward:before {
  content: "\e076";
}
.i-step-forward:before {
  content: "\e077";
}
.i-eject:before {
  content: "\e078";
}
.i-chevron-left:before {
  content: "\e079";
}
.i-chevron-right:before {
  content: "\e080";
}
.i-plus-sign:before {
  content: "\e081";
}
.i-minus-sign:before {
  content: "\e082";
}
.i-remove-sign:before {
  content: "\e083";
}
.i-ok-sign:before {
  content: "\e084";
}
.i-question-sign:before {
  content: "\e085";
}
.i-info-sign:before {
  content: "\e086";
}
.i-screenshot:before {
  content: "\e087";
}
.i-remove-circle:before {
  content: "\e088";
}
.i-ok-circle:before {
  content: "\e089";
}
.i-ban-circle:before {
  content: "\e090";
}
.i-arrow-left:before {
  content: "\e091";
}
.i-arrow-right:before {
  content: "\e092";
}
.i-arrow-up:before {
  content: "\e093";
}
.i-arrow-down:before {
  content: "\e094";
}
.i-share-alt:before {
  content: "\e095";
}
.i-resize-full:before {
  content: "\e096";
}
.i-resize-small:before {
  content: "\e097";
}
.i-exclamation-sign:before {
  content: "\e101";
}
.i-gift:before {
  content: "\e102";
}
.i-leaf:before {
  content: "\e103";
}
.i-fire:before {
  content: "\e104";
}
.i-eye-open:before {
  content: "\e105";
}
.i-eye-close:before {
  content: "\e106";
}
.i-warning-sign:before {
  content: "\e107";
}
.i-plane:before {
  content: "\e108";
}
.i-calendar:before {
  content: "\e109";
}
.i-random:before {
  content: "\e110";
}
.i-comment:before {
  content: "\e111";
}
.i-magnet:before {
  content: "\e112";
}
.i-chevron-up:before {
  content: "\e113";
}
.i-chevron-down:before {
  content: "\e114";
}
.i-retweet:before {
  content: "\e115";
}
.i-shopping-cart:before {
  content: "\e116";
}
.i-folder-close:before {
  content: "\e117";
}
.i-folder-open:before {
  content: "\e118";
}
.i-resize-vertical:before {
  content: "\e119";
}
.i-resize-horizontal:before {
  content: "\e120";
}
.i-hdd:before {
  content: "\e121";
}
.i-bullhorn:before {
  content: "\e122";
}
.i-bell:before {
  content: "\e123";
}
.i-certificate:before {
  content: "\e124";
}
.i-thumbs-up:before {
  content: "\e125";
}
.i-thumbs-down:before {
  content: "\e126";
}
.i-hand-right:before {
  content: "\e127";
}
.i-hand-left:before {
  content: "\e128";
}
.i-hand-up:before {
  content: "\e129";
}
.i-hand-down:before {
  content: "\e130";
}
.i-circle-arrow-right:before {
  content: "\e131";
}
.i-circle-arrow-left:before {
  content: "\e132";
}
.i-circle-arrow-up:before {
  content: "\e133";
}
.i-circle-arrow-down:before {
  content: "\e134";
}
.i-globe:before {
  content: "\e135";
}
.i-wrench:before {
  content: "\e136";
}
.i-tasks:before {
  content: "\e137";
}
.i-filter:before {
  content: "\e138";
}
.i-briefcase:before {
  content: "\e139";
}
.i-fullscreen:before {
  content: "\e140";
}
.i-dashboard:before {
  content: "\e141";
}
.i-paperclip:before {
  content: "\e142";
}
.i-heart-empty:before {
  content: "\e143";
}
.i-link:before {
  content: "\e144";
}
.i-phone:before {
  content: "\e145";
}
.i-pushpin:before {
  content: "\e146";
}
.i-usd:before {
  content: "\e148";
}
.i-gbp:before {
  content: "\e149";
}
.i-sort:before {
  content: "\e150";
}
.i-sort-by-alphabet:before {
  content: "\e151";
}
.i-sort-by-alphabet-alt:before {
  content: "\e152";
}
.i-sort-by-order:before {
  content: "\e153";
}
.i-sort-by-order-alt:before {
  content: "\e154";
}
.i-sort-by-attributes:before {
  content: "\e155";
}
.i-sort-by-attributes-alt:before {
  content: "\e156";
}
.i-unchecked:before {
  content: "\e157";
}
.i-expand:before {
  content: "\e158";
}
.i-collapse-down:before {
  content: "\e159";
}
.i-collapse-up:before {
  content: "\e160";
}
.i-log-in:before {
  content: "\e161";
}
.i-flash:before {
  content: "\e162";
}
.i-log-out:before {
  content: "\e163";
}
.i-new-window:before {
  content: "\e164";
}
.i-record:before {
  content: "\e165";
}
.i-save:before {
  content: "\e166";
}
.i-open:before {
  content: "\e167";
}
.i-saved:before {
  content: "\e168";
}
.i-import:before {
  content: "\e169";
}
.i-export:before {
  content: "\e170";
}
.i-send:before {
  content: "\e171";
}
.i-floppy-disk:before {
  content: "\e172";
}
.i-floppy-saved:before {
  content: "\e173";
}
.i-floppy-remove:before {
  content: "\e174";
}
.i-floppy-save:before {
  content: "\e175";
}
.i-floppy-open:before {
  content: "\e176";
}
.i-credit-card:before {
  content: "\e177";
}
.i-transfer:before {
  content: "\e178";
}
.i-cutlery:before {
  content: "\e179";
}
.i-header:before {
  content: "\e180";
}
.i-compressed:before {
  content: "\e181";
}
.i-earphone:before {
  content: "\e182";
}
.i-phone-alt:before {
  content: "\e183";
}
.i-tower:before {
  content: "\e184";
}
.i-stats:before {
  content: "\e185";
}
.i-sd-video:before {
  content: "\e186";
}
.i-hd-video:before {
  content: "\e187";
}
.i-subtitles:before {
  content: "\e188";
}
.i-sound-stereo:before {
  content: "\e189";
}
.i-sound-dolby:before {
  content: "\e190";
}
.i-sound-5-1:before {
  content: "\e191";
}
.i-sound-6-1:before {
  content: "\e192";
}
.i-sound-7-1:before {
  content: "\e193";
}
.i-copyright-mark:before {
  content: "\e194";
}
.i-registration-mark:before {
  content: "\e195";
}
.i-cloud-download:before {
  content: "\e197";
}
.i-cloud-upload:before {
  content: "\e198";
}
.i-tree-conifer:before {
  content: "\e199";
}
.i-tree-deciduous:before {
  content: "\e200";
}
