<link rel="import" href="/vendor/polymer/polymer.html">
<link rel="import" href="/components/image-service.html">

<polymer-element name="image-list" attributes="">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <image-service assets="{{ assets }}"></image-service>

        <div>
            <template repeat="{{ asset in assets }}">
                <div class="asset">
                    <img class="asset__image" src="/{{ asset.filename }}">
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>
