<link href="/vendor/polymer/polymer.html" rel="import">
<link href="/components/image-service.html" rel="import">
<link href="/vendor/core-ajax/core-ajax.html" rel="import">
<link href="/vendor/core-ajax/core-xhr.html" rel="import">
<link href="/vendor/core-icons/core-icons.html" rel="import">
<link href="/vendor/paper-input/paper-input.html" rel="import">
<link href="/vendor/paper-fab/paper-fab.html" rel="import">

<polymer-element name="image-list" attributes="">
    <template>
        <style>
            .asset {
                position: relative;
                background-color: #FFFFFF;
                max-width: 780px;
                padding: 0px 60px 30px 60px;
                border-bottom: 1px solid #CCC;
                margin-bottom: 30px;
                text-align: center;
            }
            .asset paper-fab[icon="delete"] {
                display: none;
            }
            .asset:hover paper-fab[icon="delete"] {
                display: block;
            }
            .image-wrapper {
                display: inline-block;
            }
            .image {
                max-width: 600px;
                height: auto;
                background: #333;
                padding: 4px;
            }
            .actions {
                margin: 6px 0;
            }
            paper-input {
                margin: 6px auto;
                text-align: center;
            }
            paper-fab[icon="delete"] {
                position: absolute;
                top: 0;
                right: 0;
                background: #4285f4;
                color: #fff;
            }
            core-icon {
                transition: all 0.2s;
                -webkit-transition: all 0.2s;
            }
        </style>

        <core-xhr id="xhr"></core-xhr>

        <image-service assets="{{assets}}"></image-service>

        <div vertical layout center>
            <template repeat="{{asset in assets}}">
                <div class="asset">
                    <paper-fab mini icon="delete" on-click="{{delete}}" id="{{asset._id}}"></paper-fab>

                    <div class="actions">
                        <paper-input label="Name" value="Something"></paper-input>
                    </div>

                    <a href="/{{asset.filename}}" target="_blank" class="image-wrapper">
                        <img class="image" src="/{{asset.filename}}">
                    </a>

                    <div class="actions">
                        <paper-input label="Tags"></paper-input>
                    </div>
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer('image-list', {
            removeFromArray: function(id) {
                this.assets.some(function(asset, i) {
                    if(id.trim() === asset._id.trim()) {
                        this.assets.splice(i, 1);
                        return true;
                    }
                }.bind(this));
            },
            delete: function(event, detail, sender) {
                var id = sender.getAttribute('id'),
                    self = this;

                this.$.xhr.request({
                    url: '/api/assets/'+ id,
                    method: 'DELETE',
                    callback: function() {
                        self.removeFromArray(id);
                    }
                });
            }
        });
    </script>
</polymer-element>
