<link rel="import" href="../vendor/polymer/polymer.html">
<link rel="import" href="image-service.html">

<polymer-element name="image-list" attributes="">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <image-service assets="{{ assets }}"></image-service>

        <div layout vertical center>
            <template repeat="{{ asset in assets }}">
                <h2>ID - {{ asset._id }}</h2>
                <img src="//i.bhol.me/{{ asset.filename }}">
            </template>
        </div>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>
